<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Stylesheet/style.css">
</head>
<body>
    <div class="container">
        <div class="container1">
            <h1 class="login">Login</h1>
    <label class="input" for="name">Name:</label>
    <input class="input" type="text" id="name" placeholder="name">
    <label class="input" for="email">Email:</label>
    <input class="input" type="text" id="email" placeholder="email">
    <label class="input" for="password">Password:</label>
    <input class="input" type="text" id="password" placeholder="password">
    <label class="input" for="confirm-password">Confirm-Password</label>
    <input class="input" type="text" id="confirm-password" placeholder="confirm-password">
    <button onclick="final()" class="button1">Submit</button>
</div>
</div>
   <script src="/javaScript/script.js"></script> 
</body>
</html>